@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Dosis;
    margin: 0;
    padding: 0;
    background-color: #222;
    color:white;
    font-size: 3cqw;
}

div.the-rest {
    padding: 1%;
    text-align: center;
    overflow: hidden;
}

header {
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 20px 10px;
}

header a {
    float: left;
    color: #eee;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

header a:hover {
    background-color: #422c59;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.home-subtitle{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: 3cqw;
    margin-bottom: -7%;
    margin-top: 15%;
}

.mega-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 575;
    font-style: normal;
    text-align: center;
    font-size: 8cqw;
}

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

.puff-in-center {
	animation: puff-in-center 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) alternate both;
    
}

.ticker-wrap {
    overflow: hidden;
    color: white;
    padding: 10px 0;
    position: relative;
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.ticker {
    display: flex;
    width: 100%;
    animation: ticker 7.45s linear infinite;
}

.ticker-item {
    flex: 0 0 auto;
    padding: 0 1rem;
    white-space: nowrap;
}

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-170.95%);
    }
}