@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 20px 10px;
}

header a {
    float: left;
    color: #eee;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

header a:hover {
    background-color: #422c59;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}


body {
    font-family: Dosis;
    margin: 0;
    padding: 0;
    background-color: #222;
    color:white;
    font-size: 24px;
}

div.the-rest {
    padding: 1%;
    text-align: center;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size:300%;
}